Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent 
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: true
BreakBeforeBraces: Attach
ColumnLimit: 120
FixNamespaceComments: false
IndentCaseLabels: false
IndentWidth: 4
MaxEmptyLinesToKeep: 3
NamespaceIndentation: All
PointerAlignment: Left
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
AllowAllArgumentsOnNextLine: false
PenaltyReturnTypeOnItsOwnLine: 1000
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: None
